.article {
  background-color: #fff;
  border: 1px #ddd solid;
  border-radius: 12px;
  padding: 30px 20px;
}
.productOutOfStock {
  opacity: 0.4;
}
.article h3 {
  margin-bottom: 10px;
}
.article h4 {
  color: var(--Moderate-cyan);
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 30px;
}
.article p {
  color: #999;
  font-size: 15.1px;
  line-height: 1.7;
  margin-bottom: 20px;
}
.article .unitsLeft {
  display: flex;
  align-items: center;
  gap: 10px;
}
.article .unitsLeft p:first-of-type {
  color: var(--Black);
  font-size: 34px;
  font-weight: 700;
}
.article .unitsLeft .unitsModal {
  font-size: 24px !important;
}
.article .unitsLeft p:last-of-type {
  color: #999;
  font-size: 18px;
  font-weight: 400;
}
.article button {
  background-color: var(--Moderate-cyan);
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 20px 38px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}
.article button:hover:not(.productOutOfStockBtn) {
  background-color: var(--Dark-cyan);
}
.article .productOutOfStockBtn {
  background-color: var(--Dark-gray);
  cursor: initial;
}
.article .header input {
  height: 24px;
  width: 24px;
}
/* State */
.selectedProduct {
  border: 2px solid var(--Moderate-cyan) !important;
  padding: 30px 22px !important;
}

/* Iphone XS Max */
@media (min-width: 414px) {
  .article {
    padding: 30px 26px;
  }
  .article h3 {
    font-size: 21.72px;
  }
  .article h4 {
    font-size: 20px;
  }
  .article p {
    font-size: 16px;
  }
}

/* Ipad */
@media (min-width: 768px) {
  .article {
    padding: 35px 26px;
  }
  .article .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .article .header h3 {
    margin-bottom: 0;
  }
  .article .header h4 {
    margin-bottom: 0;
  }
  .article p:first-of-type {
    margin-bottom: 30px;
  }
  .article .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .article .footer p {
    margin-bottom: 0;
  }
}
