.header {
  padding: 25px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 174px;
}
.brandLogo,
.menuIcon {
  cursor: pointer;
}

@media (min-width: 414px) {
  .header {
    padding: 30px;
  }
  .brandLogo,
  .menuIcon {
    height: 22px;
  }
}
