.article {
  background-color: #fff;
  border: 1px #eee solid;
  border-radius: 12px;
  text-align: center;
}
.article .logo {
  height: 59px;
  margin-top: -28px;
}
.content {
  padding: 20px 20px 45px;
}
.content h1 {
  color: var(--Black);
  font-size: 22px;
  margin-bottom: 20px;
}
.content p {
  color: #999;
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 25px;
}
.content .actions {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
.content .actions button {
  background-color: var(--Moderate-cyan);
  font-family: "Commissioner";
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 20px 48px;
  border: none;
  border-radius: 35px;
  cursor: pointer;
}
.content .actions button:hover {
  background-color: var(--Dark-cyan);
}
.content .actions .bookmark {
  height: 59px;
  cursor: pointer;
}
.content .actions .bookmark img {
  height: 100%;
}
.content .actions .bookmark p {
  display: none;
}
.content .actions .bookmark:hover {
  opacity: 0.7;
}

/* Iphone XS Max */
@media (min-width: 414px) {
  .content {
    padding: 20px 25px 45px;
  }
  .content h1 {
    font-size: 26px;
  }
  .content p {
    font-size: 16px;
  }
}

/* Ipad */
@media (min-width: 768px) {
  .content {
    padding: 20px 35px 45px;
  }
  .content h1 {
    margin-bottom: 10px;
  }
  .content p {
    margin-bottom: 35px;
  }
  .content .actions {
    justify-content: space-between;
    gap: 8px;
  }
  .content .actions .bookmark {
    width: 170px;
    background-color: #eee;
    border-radius: 30px;
    display: flex;
    align-items: center;
    column-gap: 11px;
  }
  .content .actions .bookmark img {
    float: left;
  }
  .content .actions .bookmark p {
    display: initial;
    margin-bottom: 0; /* content p {}  -> has margin-bottom */
    font-weight: 800;
  }

  /* State bookmark */
  .bookmarkedContainer {
    width: 188px !important;
    background-color: rgba(238, 240, 248, 0.5) !important;
  }
  .bookmarkedText {
    color: var(--Dark-cyan) !important;
  }
}
