.section {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

/* Ipad */
@media (min-width: 768px) {
  .section {
    padding: 0 4.3rem;
    max-width: 68.2rem;
    margin: 0 auto;
  }
}
