.backdrop {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}
.mobileMenu {
  display: initial;
  position: absolute;
  z-index: 5;
  background-color: #fff;
  width: 33rem;
  margin: 20% 0 0 calc(50% - 16.5rem);
  border-radius: 1rem;
}
.mobileMenu ul {
  list-style: none;
  padding-left: 0;
}
.mobileMenu ul li {
  font-weight: 500;
  border-bottom: 0.1rem solid #eee;
  padding: 2rem;
  cursor: pointer;
  transition: all 250ms ease-in;
}
.mobileMenu ul li:last-of-type {
  border-bottom: none;
}
.mobileMenu ul li:hover {
  color: var(--Moderate-cyan);
  font-weight: 700;
  font-size: 1.7rem;
}

@media (min-width: 450px) {
  .mobileMenu {
    width: 38rem;
    margin: 20% 0 0 calc(50% - 19rem);
  }
}
@media (min-width: 500px) {
  .mobileMenu {
    margin: 18% 0 0 calc(50% - 19rem);
  }
}
@media (min-width: 550px) {
  .mobileMenu {
    margin: 16% 0 0 calc(50% - 19rem);
  }
}
@media (min-width: 600px) {
  .mobileMenu {
    margin: 14% 0 0 calc(60% - 19rem);
  }
}
@media (min-width: 650px) {
  .mobileMenu {
    margin: 12% 0 0 calc(64% - 19rem);
  }
}
@media (min-width: 700px) {
  .mobileMenu {
    margin: 11% 0 0 calc(66% - 19rem);
  }
}
@media (min-width: 750px) {
  .mobileMenu {
    margin: 10% 0 0 calc(68% - 19rem);
  }
}

/* Ipad */
@media (min-width: 768px) {
  .mobileMenu {
    display: none;
  }
  .backdrop {
    display: none;
  }
}
