.buttonContainer {
  height: 2.4rem;
  width: 2.4rem;
  border: 0.1rem solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttonInside {
  height: 1.4rem;
  width: 1.4rem;
  background-color: var(--Moderate-cyan);
  border-radius: 50%;
}
